@page "/"
@* ==========   Shop More Fun =============== *@
<section id="shopmorefun">
    <div class="container">
        <div class="flex justify-content-between align-items-center">
            <div class="morefun">
                <h1>Shopping is <span>MORE FUN</span></h1>
                <p>Vivamus dignissim a ex eu ornare. Ut fermentum orci vel diam ultricies faucibus. Quisque quis erat sed</p>
                <button class="btn">SHOP NOW</button>
            </div>
            <div class="">
                <img src="assets/img/Shop more fun.svg">
            </div>
        </div>

    </div>
</section>

@* ==================== Info Boxes ==================== *@
<InfoBoxes />

@* ==================== Shop By Categorey ============== *@
<section>
    <div>
        <div class="text-center"> SHOP BY <span>CATEGORY</span></div>


        <img class="line-center" src="assets/img/zigzag.svg" alt="...">
        <p class="p-center">We always try to give you the best product within a fast and reliable way</p>
    </div>
    <div class="grid-container ">

        <div class="grid-item item-1"><span class="s-cate">Men</span></div>
        <div class="grid-item item-2"><span class="s-cate">Wamen</span></div>
        <div class="grid-item item-3"><span class="s-cate">Kids</span></div>
        <div class="grid-item item-4"><span class="s-cate">Shoes</span></div>
        <div class="grid-item item-5"><span class="s-cate">Hats</span></div>
        <div class="grid-item item-6"><span class="s-cate">Sunglasses</span></div>
        <div class="grid-item item-7"><span class="s-cate">Watches</span></div>

    </div>
</section>

@* =============== New Arrivals ===================== *@


@* =============== New Customer ======================= *@

<section id="home-n-c" class="mt-5">
    <div class="container">
        <div class="incontainer">
            <div id="n-c">
                <h1>30% <span>OFF</span></h1>
                <p>FOR NEW CUSTOMER</p>
                <button class="btn">SHOP NOW</button>
            </div>
            <div id="learnmore">
                <p>Donec pulvinar arcu vitae ipsum varius cursus. Nunc iaculis fermentum iaculis. Nunc pulvinar purus at erat lacinia, ut convallis nibh consequat. Integer nulla nisi, aliquam at tellus a, viverra scelerisque purus. Nam pretium iaculis ultrices</p>
                <button class="btn">LEARN MORE</button>
            </div>
        </div>
    </div>
</section>


@* ===============Featured Products =================== *@


@* =============== Flash Sale ========================= *@


@* =============== Top Sellers ======================== *@


@* ================ Recensioner ====================== *@


@* ================ Latest Blog ===================== *@


@* ================ Subscribe ======================= *@
<Subscribe/>




<SurveyPrompt Title="How is Blazor working for you?" />
